a {
    color: inherit;
}

body.dark {
    background-color: #080808;
    color: white;
}

footer {
    background-color: #080808;
    color: white;
}

@media (max-width: 768px) {
    .container[role="main"] {
        padding-left: 5%;
        padding-right: 5%;
    }
}

footer a {
    color: white;
}

body:not(.dark) footer a i:not(.fa-circle) {
    color: #080808;
}

body.dark footer {
    background-color: white;
    color: #080808;
}

body.dark footer a:not(:hover) {
    color: #080808;
}

body:not(.dark) footer a:hover {
    color: #7ae1e8;
}

body.dark .post-preview a:not(:hover) {
    color: white;
}

body.dark .post-meta {
    color: rgb(213, 213, 213)
}

.post-entry{
    margin-bottom: 1em;
}

.intro-header .post-preview .post-meta a, .post-heading .post-meta a, .page-meta a {
    color: white;
}

.badge {
    font-size: 0.8em;
    font-weight: 800;
    padding: 0.4em 0.6em;
    text-transform: capitalize;
    vertical-align: bottom;
    text-shadow: none;
}

.post-meta .badge {
    color: white;
    background-color: #080808;

}

body.dark .post-meta .badge {
    background-color: white;
    color: #080808;
}

.intro-header.big-img {
    position: relative;
    background-color: #080808;
}
.intro-header.big-img .img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
}
.w-100 {
    width: 100%;
}

iframe {
    min-height: 500px;
}

.table {
    width: 100%;
    overflow-x: auto;
}

/* Avatar */

.orbit-icon {
    fill: #080808;
}

body.dark .orbit-icon {
    fill: white;
}

.avatar {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.avatar {
    transform: scale(0.9, 0.9);
    transition: transform 0.2s ease-in;
}

.avatar__foreground {
    transform-origin: 50% 50%;
    transform: translateY(4px) scale(1, 1);
    transition: transform 0.2s ease-in;
}

.avatar:hover {
    transform: scale(1, 1);
}

.avatar:hover .avatar__foreground {
    transform: translateY(-7px) scale(1.05, 1.05);
}

/* Associations */

div>.asso {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: auto;
}

.asso {
    background: #080808;
    color: white;
    border-radius: 3em;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: .9em;
}

body.dark .asso {
    background: white;
    color: #080808;
}

.asso .card-body {
    padding: 1.4em 2.4em;
    min-height: calc(100px + 2*1.4em);
}

.asso p {
    text-align: justify;
}

.asso-pic {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 20px;
}

.asso h5 {
    font-size: 1em;
}

.asso h5>span:nth-child(1) {
    font-weight: 900;
}

.asso h5>span:nth-child(2) {
    font-style: italic;
}

/* Navbar */

.navbar {
    background-color: #080808;
    color: white;
}

.navbar .navbar-nav li a {
    color: white;
}

body.dark .navbar {
    background-color: white;
    color: #080808;
}

body.dark .navbar .navbar-nav li a {
    color: #080808;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: center;
}

/* Dark Mode Switch */

.js-toggle-wrapper {
    display: flex;
    margin: 0 auto;
}

.js-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.js-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.js-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: white;
    transition: all 0.2s ease;
}

.js-toggle--checked .js-toggle-track {
    background-color: hsl(222, 14%, 7%)
}

.js-toggle-track-check {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-check {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.js-toggle-track-x {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 5px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    opacity: 1;
    transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-x {
    opacity: 0;
}

.js-toggle-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #e3e3e3;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: translateX(0);
}

.js-toggle--checked .js-toggle-thumb {
    transform: translateX(26px);
    border-color: #19ab27;
}