<article class="post-preview row">

    <div class="col-md-3 h-100">
        <div class="post-image">
            <a href="{{ .Permalink }}">
                {{ if .Params.preview }}
                {{ partial "image.html" (dict "Class" "img-title" "Src" (resources.Get .Params.preview) "Alt" .Title
                "Resize" "720x" "Webp" true) }}
                {{ end }}
                {{ if .Params.video }}
                <video loop autoplay muted playsinline class="img-title">
                    <source src="{{ .Params.video }}">
                </video>
                {{ end }}
            </a>
        </div>
    </div>
    <div class="col-md-9 align-self-stretch h-100">
        <div class="d-flex flex-column">
            <a href="{{ .Permalink }}" class="post-heading">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }}
            </a>

            <p class="post-meta">
                {{ partial "post_meta.html" . }}
            </p>
            <div class="post-entry">
                {{ if .Params.summary }}
                {{ .Params.summary }}<br>
                {{ else if .Truncated }}
                {{ .Summary }}<br>
                {{ else }}
                {{ .Content }}
                {{ end }}
            </div>
        </div>

    </div>

    <div class="d-flex flex-wrap align-items-center justify-between w-100 mt-4">

        {{ if .Params.tags }}
        <div class="blog-tags mt-2">
            {{ range .Params.tags }}
            <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        </div>
        {{ end }}


        <a href="{{ .Permalink }}" class="post-read-more mt-2">{{ i18n "readMore" }}</a>

    </div>
</article>